<html>
  <head>
    <title>
        Login to ecnaoptriha
    </title>
  </head>
  <body>
     <div id="container">
      <div class="form">
        <h1>Sign In</h1>
        <form action="https://ecnaoptriha.herokuapp.com/home" method="POST">
          <div class="form2">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />
          </div>
          <div class="form2">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
          </div>
          <button formaction="https://ecnaoptriha.herokuapp.com/home">Sign In</button>
        </form>
        <a href="https://ecnaoptriha.herokuapp.com/register">
        <button>
             Register
        </button>
        </a>
      </div>
    </div>
  </body>
</html>
