<html>
  <head>
    <title>
        Register to ecnaoptriha
    </title>

<style>
input.MyButton {
width: 300px;
padding: 20px;
cursor: pointer;
font-weight: bold;
font-size: 150%;
background: #3366cc;
color: #fff;
border: 1px solid #3366cc;
border-radius: 10px;
}
input.MyButton:hover {
color: #ffff00;
background: #000;
border: 1px solid #fff;
}
</style>

  </head>
  <body>
     <div id="container">
      <div class="form">
        <h1>Register</h1>
        <form action="https://ecnaoptriha.herokuapp.com/register" method="POST">
          <div class="form2">
            <label for="username">Username required:</label>
            <input type="text" name="username" id="username" required />
          </div>
          <div class="form2">
            <label for="password">Password required:</label>
            <input type="password" name="password" id="password" required/>
          </div>
          <button class="MyButton" formaction="https://ecnaoptriha.herokuapp.com/register">Register</button>
        </form>
      </div>
    </div>
    <br>
        Note:
        - Usernames' uppercase chars will be automatically converted to lowercase;
        - Usernames should have between 5 to 90 chars;
        - Passwords should have

  </body>
</html>
