<html>
  <head>
    <title>
        Register to ecnaoptriha
    </title>

<style>
input.MyButton {
width: 300px;
padding: 20px;
cursor: pointer;
font-weight: bold;
font-size: 150%;
background: #3366cc;
color: #fff;
border: 1px solid #3366cc;
border-radius: 10px;
}
input.MyButton:hover {
color: #ffff00;
background: #000;
border: 1px solid #fff;
}


.clearfix {
  border: 3px solid #FF0000;
  padding: 5px;
  overflow: auto;
  line-height: 110%;
}
.img2 {
  float: right;
}

</style>

  </head>
  <body>
     <div id="container">
      <div class="form">
        <h1>Register</h1>
        <form action="https://ecnaoptriha.herokuapp.com/register" method="POST">
          <div class="form2">
            <label for="username">Username required:</label>
            <input type="text" name="username" id="username" required />
          </div>
          <div class="form2">
            <label for="password">Password required:</label>
            <input type="password" name="password" id="password" required/>
          </div>
          <button class="MyButton" formaction="https://ecnaoptriha.herokuapp.com/register">Register</button>
        </form>
      </div>
    </div>
    <br>
<div class="clearfix">
  <img class="img2" src="exclamation.jpg" alt="Attention" width="170" height="170">
  Note:
        <p>- Username's uppercase chars will be automatically converted to lowercase;<br>
        - The username should have between 5 to 10 chars;<br>
        - Trailing spaces are not allowed. Spaces are permitted only within the string;<br>
        - The password should have at least 10 chars;<br>
        - The password should contain uppercase chars as well;<br>
        - The password should contain lowercase chars as well;<br>
        - The password should contain at least one number;<br>
        - The password should contain either of the following special symbols: [@_!#$%^&*()<>?/\|}{~:;,.]<br>
        - Password should not contain parts of the username.
	</div>
  </body>
</html>
